<div class="col mb-4">
    <div class="card h-100 shadow-sm">
        <img src="{{ material.imagen.url }}" 
             class="card-img-top" 
             alt="{{ material.nombre }}">
        <div class="card-body text-center">
            <h5 class="card-title">{{ material.nombre }}</h5>
            <p class="card-text fw-bold">{{ material.precio }} $</p>
        </div>
        <div class="card-footer text-center border-0">
            <a href="{% url 'carro:agregar' material.id %}" 
               class="btn btn-success"
               onclick="return updateCart(this.href)">
                <i class="fas fa-cart-plus me-2"></i>Agregar
            </a>
        </div>
    </div>
</div>